<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品页面</title>
</head>
<body>

<form action="insert_goods" method="post"
>
    <label for="goods_name">商品名称</label>
    <input id="goods_name" name="goods_name" type="text">
    <label for="goods_type">商品类型</label>
    <input id="goods_type" name="goods_type" type="text">
    <label for="goods_in_price">购入价格</label>
    <input id="goods_in_price" name="goods_in_price" type="text">
    <label for="goods_out_price">出售价格</label>
    <input id="goods_out_price" name="goods_out_price" type="text">
    <label for="goods_manufacture_date">生产日期</label>
    <input id="goods_manufacture_date" name="goods_manufacture_date" type="date">
    <label for="goods_expiration_date">保质期</label>
    <input id="goods_expiration_date" name="goods_expiration_date" type="text">
    <label for="goods_qrcode">二维码信息</label>
    <input id="goods_qrcode" name="goods_qrcode" type="text">

    <input type="submit" value="提交">



</form>
</body>
</html>